article {
    display:grid; 
    grid-template-columns: 1fr 10% [start] 80% [end] 10% 1fr;
    height: 100vh;
    padding:0.5in 0;
}

article * {
    grid-column: start / end;
}

@media (max-width: 9in) {
    article {grid-template-columns: 1fr 5% [start] 90% [end] 5% 1fr;}
}

@media (max-width: 8in) {
    :root {
        font-size: 18px;
    }
}

@media (max-width: 5.5in) {
    :root {
        font-size: 16px;
    }
}

.text {
    display:flex;
    justify-content: center;
    align-items:     center;
}


